body{
	height: 100%;
	background-color: #ffffff;
}

.container-fluid.aout{
	position: absolute;
	top: 20%;
	bottom: 50%;
	display: inline;
	animation-name: zoomIn;
	-webkit-animation-name: zoomIn;
	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
	animation-fill-mode: backwards;
	-webkit-animation-fill-mode: backwards;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
    -webkit-transform: scale3d(.3, .3, .3);    
  }
  50% {
    opacity: 0.5;
  }
  100%{
  	opacity: 1;
  }
}

.logo{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	background-image: url(images/favicon.svg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	height: 200px;
	width: 200px;
	margin: auto;
	border-radius: 0;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

.logo:hover,
.logo:active{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background-image: url(images/photo.svg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius:50%;
}

#p1{
	font-family: 'Alfa Slab One', cursive;
	font-size: 5vw;
}


#p2{
	font-family: 'Open Sans', sans-serif;
	font-size: 2.5vw;
	font-weight: bold;
}

.btn-group{
	position: absolute;

}

.btn{
	letter-spacing: -1px;
	outline: 0 !important;
	background-color: #ffffff;
	color: #000000;
	border-bottom: 2px solid #000000 !important;
	animation-name: rubberBand;
	-webkit-animation-name: rubberBand;
	animation-duration: 0.7s;
	-webkit-animation-duration: 0.7s;
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
	animation-fill-mode: backwards;
	-webkit-animation-fill-mode: backwards;
}

@keyframes rubberBand{
	from{
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	30%{
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}
	40%{
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}
	50%{
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}
	60%{
		-webkit-transform: scale3d(.95, 1.05, 1);
		transform: scale3d(.95, 1.05, 1);
	}
	70%{
		-webkit-transform: scale3d(1.05, .95, 1);
		transform: scale3d(1.05, .95, 1);
	}
	to{
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.btn:hover{
	letter-spacing: 3px;
	outline-style: none;
	background-color: #ffffff;
	color: #000000;
	border: 2px solid #000000;
	border-radius: 0;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn:active,
.btn:focus{
	letter-spacing: 3px;
	outline-style: none;
	background-color: #ffffff;
	color: #000000;
	border: 2px solid #000000;
	border-radius: 0 !important;
}

.btn-sm{
	letter-spacing: -1px;
	outline: 0 !important;
	background-color: #ffffff;
	color: #000000;
	border-bottom: 2px solid #000000 !important;
}


.btn-sm:hover{
	letter-spacing: 1px;
	outline-style: none;
	background-color: #ffffff;
	color: #000000;
	border: 2px solid #000000;
	border-radius: 0;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn-sm:active,
.btn-sm:focus{
	letter-spacing: 1px;
	outline-style: none;
	background-color: #ffffff;
	color: #000000;
	border: 2px solid #000000;
	border-radius: 0 !important;
}

.modal-dialog {
	background-color: #ffffff !important;
	margin:0 !important;
	padding:0 !important;
	max-width: 100% !important;
	height: 100% !important;
	border-radius: 0 !important;
	opacity: 1;
}

.modal-content {
	background-color: #ffffff !important;
	color: #ffffff;
	height: auto;
	width: 100%;
	border-radius: 0 !important;
}

.modal-header,
.modal-body,
.modal-footer{
	border-bottom: none !important;
	border-top: none !important;
}

.fa.fa-chevron-up{ 
	color: #000000 !important;
	transition: all 0.2s ease-in-out;
}

.fa.fa-chevron-up:hover{ 
	color: #000000 !important;
	font-size: 45px !important;
}


.fa.fa-close{
	color: #000000 !important;
	transition: all 0.2s ease-in-out;
}

.fa.fa-close:hover{
	font-size: 45px !important;
	transform: rotateZ(180deg);
}

.fa{
	font-size: 36px !important;
	vertical-align: middle;
}

.fa.fa-linkedin-square{
	font-size: 48px !important;
	vertical-align: middle;
	color: #0077b5;
}


.row,
.col-sm-3{
	padding: 10px !important;
}

.card{
	position: relative;
	margin: auto;
	height: 100%;
	width: auto;
	color:#000000;
	background-color: #f0f0f0 !important;
	border-radius: 0 !important;
	font-size: 50%;
	padding: 5px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	animation-name: flipInX;
	-webkit-animation-name: flipInX;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	backface-visibility: visible !important;
	-webkit-backface-visibility: visible !important;
}

@keyframes flipInX {
  from {
    transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(1000px) rotate3d(1, 0, 0, -5deg);
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -5deg);
    animation-timing-function: ease-in;
    opacity: 0.75
  }

  60% {
    transform: perspective(1000px) rotate3d(1, 0, 0, 2deg);
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 2deg);
    opacity: 1;
  }

  80% {
    transform: perspective(1000px) rotate3d(1, 0, 0, -2deg);
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -2deg);
    opacity: 1;
  }

  to {
    transform: perspective(1000px);
    -webkit-transform: perspective(1000px);
    opacity: 1;
  }
}

.card:hover,
.card:focus{
	position: relative;
	margin: auto;
	height: 100%;
	width: auto;
	color:#000000;
	background-color: #f0f0f0 !important;
	border-radius: 0 !important;
	font-size: 50%;
	padding: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-img-top,
.card-img-bottom{
	background-color: #ffffff !important;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.card-title{
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
}

.card-subtitle{
	font-family: 'Times New Roman', serif;
	font-size: 15px;
}

.card-text{
	background-color: #ffffff !important;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
	padding: 5px;
}
